language: php

matrix:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
      env: COLLECT_COVERAGE=true
    - php: 7.1
  allow_failures:
    - php: 7.1

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
- travis_retry composer self-update

install:
- travis_retry composer install --no-interaction --prefer-dist
- composer require satooshi/php-coveralls --dev

script:
- if [[ "$COLLECT_COVERAGE" == "true" ]]; then php vendor/phpunit/phpunit/phpunit --coverage-clover build/logs/clover.xml; else php vendor/phpunit/phpunit/phpunit; fi

after_script:
- if [[ "$COLLECT_COVERAGE" == "true" ]]; then php vendor/bin/coveralls; fi
